# link
*.lnk

#cache
*.pyc

#excel
*.xlsx
*.csv

# ai
*.pt

#.folder
.*/

mecab/ko/tagger_creater.py
mecab/ko/AddData.py
mecab/ko/AddVerb.py

main element capture model/dataset.*/
main element capture model/AddData.py
